@media only screen and (min-width: 641px) {

  h1 {
    color: green;
  }

/*-----BANNER-------*/
  #banner {
    	 background-image: url(../photos/hero-tablet2.jpg);
       height: 400px;
  }

/*------COLUMNS-------*/
  .column-6, .column-4, .column-3 {
    float: left;
  }
  .column-2 {
    width: 33.333%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.3333%;
  }
  .column-6 {
    width: 50%;
  }

}
